[submodule "libs/WildAddon-1.0"]
	path = libs/WildAddon-1.0
	url = https://github.com/Jaliborc/WildAddon-1.0.git
[submodule "libs/C_Everywhere"]
	path = libs/C_Everywhere
	url = https://github.com/Jaliborc/C_Everywhere.git
[submodule "libs/Unfit-1.0"]
	path = libs/Unfit-1.0
	url = https://github.com/Jaliborc/Unfit-1.0.git
[submodule "libs/CustomSearch-1.0"]
	path = libs/CustomSearch-1.0
	url = https://github.com/Jaliborc/CustomSearch-1.0
[submodule "libs/ItemSearch-1.3"]
	path = libs/ItemSearch-1.3
	url = https://github.com/Jaliborc/ItemSearch-1.3
[submodule "libs/CustomTutorials-2.1"]
	path = libs/CustomTutorials-2.1
	url = https://github.com/Jaliborc/CustomTutorials-2.1
[submodule "libs/SecureTabs-2.0"]
	path = libs/SecureTabs-2.0
	url = https://github.com/Jaliborc/SecureTabs-2.0.git
[submodule "libs/MutexDelay-1.0"]
	path = libs/MutexDelay-1.0
	url = https://github.com/Jaliborc/MutexDelay-1.0.git
[submodule "libs/Poncho-2.0"]
	path = libs/Poncho-2.0
	url = https://github.com/Jaliborc/Poncho-2.0.git
[submodule "libs/Sushi-3.1"]
	path = libs/Sushi-3.1
	url = https://github.com/Jaliborc/Sushi-3.1.git
